
<% if @type == 0 %>
  <h1>Zuletzt berechnet:</h1>
<% else %>
  <h1>Feste Einteilung</h1>
<% end %>

<div class=row >
  <div class=col-lg-12>
    <% if @plan.fixed_solution %>
      <p>
        <%= link_to "Plan als PDF herunterladen" , pdf_semester_break_plan_path(@plan.id), class: "btn btn-lg btn-success" %>
      </p>
    <% end %>
  </div>
  <div class=col-lg-12>

    <%= form_for(@plan, :url => {:controller => 'semester_break_plan_solvers', :action => 'update'}, method: "patch") do |f| %>

      <table class="table-hover table-bordered table">
          <th>Tag</th>
          <th>Supporter</th>
          <th></th>
          <% (@plan.get_users).each do |user| %>
            <th><div title=<%= user.get_name_or_alias %>><%= user.get_initial %> </div></th>
          <% end %>
        </tr>
        <tr >
            <th>
              Stunden
            </th>
            <th colspan="2">
            </th>
            <% @plan.get_users.each do |user| %>
              <th>
                <div title=<%= "#{user.get_name_or_alias}" %>>
                  <%= user.hours %>
                  </div>
              </th>
            <% end %>
          </tr>

        <tr>
        <tr>
          <th rowspan=2>
            Schichten
          </th >
          <th  colspan="2">
            eingeteilte Schichten
          </th>
          <% @plan.get_users.each do |user| %>
            <th>
              <div title=<%= "#{user.get_name_or_alias}" %>>
                <%= @plan.get_amount_of_shifts_in_solution(user, @sol) if @sol %>
              </div>
            </th>
          <% end %>
        </tr>
        <tr>
          <th colspan="2">
            Schichten laut Vertrag
          </th>

          <% all_hours = @plan.get_users.inject(0){|sum, x| sum + x.hours.to_i} %>
          <% @plan.get_users.each do |user| %>
            <th>
              <% if !user.office %>
                <div title=<%= "#{user.get_name_or_alias}" %>>
                  <%= '%.2f' %(@plan.day_slots.size()*user.hours.to_f/all_hours) %>
                </div>
              <% end %>
            </th>

          <% end %>

        </tr>
        <% if @sol %>
          <% @sol.each do |slot| %>
            <tr>
              <td>
                <%= german_dayname DaySlot.find(slot[:slot]).start %>
              </td>
              <% if is_admin? %>
                <td>
                  <%= f.select("#{slot[:slot]}", options_for_select(get_collection_break slot, @plan),  {:selected => 0}, { class: (get_av_user_slot_break slot[:user], slot[:slot])})%>
                </td>
              <% else %>
                <td class=<%= get_av_user_slot_break slot[:user], slot[:slot] %>>
                  <% if slot[:user] %>
                    <%= User.find(slot[:user]).get_name %>
                  <% end %>
                </td>
              <% end %>
              <td></td>
              <% @plan.get_users.each do |user| %>
                <td title=<%= user.get_name_or_alias %> class=<%= get_av_user_slot_break user.id, slot[:slot] %>>

                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
      <%= f.hidden_field "type", value: @type %>
      <% if is_admin? %>
        <div class=col-lg-6>
          <%= f.submit :Übernehmen, class:"btn btn-lg btn-success"%>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class=col-lg-12>
    <% if @plan.fixed_solution %>
      <p>
        <%= link_to "Plan als PDF herunterladen" , pdf_semester_break_plan_path(@plan.id), class: "btn btn-lg btn-success" %>
      </p>
    <% end %>
  </div>
  <% if is_admin? %>
    <h3> Optionen </h3>
    <% if @type == 0 %>
      <div>
        <%= link_to "Fixierte Lösung anzeigen", fixed_semester_break_plan_path(@plan), class: "btn btn-lg btn-info"%>
        <%= link_to "Diese Lösung fixieren", fix_semester_break_plan_path(@plan), class: "btn btn-lg btn-primary", method: 'post'%>
      </div>
    <% else %>
      <div>
        <%= link_to "Als letztes berechnete Lösung anzeigen", solve_semester_break_plan_path(@plan), class: "btn btn-lg btn-info"%>
        <%= link_to "Fixierte Lösung löschen", del_sol_semester_break_plan_path(@plan), class: "btn btn-lg btn-danger", method: 'delete'%>
      </div>
    <% end %>
    <h3> Gütevergleich </h3>
    <h4> Zuletzt berechnete Lösung: <%= @plan.get_fitness(eval(@plan.solution)) %></h4>
    <% if @plan.fixed_solution %>
      <h4> Fixierte Lösung: <%= @plan.get_fitness(eval(@plan.fixed_solution)) %></h4>
    <% else %>

    <% end %>
  <% end %>

</div>
