<h1>Übersicht</h1>

<% if is_admin? %>
  <div class="row well ">
    <div class=col-md-6>
      <%= link_to "Semesterplan erstellen", new_semester_plan_path, class: "btn btn-lg btn-primary"%>
    </div>
    <div class=col-md-6>
      <%= link_to "Semesterferienplan erstellen", new_semester_break_plan_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
<% end %>

<div class="row well">
  <% if @plans.any? %>
    <div class="col-md-6 well">
     <h3>
      Pläne
    </h3>
      <% @plans.each do |plan| %>
        <div class="col-md-6 well">
          <h4>
            <%= link_to "#{plan.name}" , semester_plan_path(plan.id), class: "btn btn-sm btn-primary" %>
          </h4>
          <% if plan.meeting_day %>
            <p>
              <%= "Treffen #{plan.meeting_day} um #{plan.meeting_time}:00Uhr." %>
            </p>
          <% else %>
            <p>
              <%= "Treffen noch nicht festgelegt." %>
            </p>
          <% end %>
          <p>
            Start: <%= german_day plan.start %>
          </p>
          <p>
            Ende: <%= german_day plan.end %>
          </p>
          <% if plan.fixed_solution != nil %>
            <h4>
              <%= link_to "Einteilung" , valid_path(plan.id), class: "btn btn-sm btn-success" %>
            </h4>

          <% end %>
          <% if is_admin? %>
            <%= button_to 'Plan löschen', plan, method: :delete, data: { confirm: "Soll dieser Plan wirklich entfernt werden?" } , class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

