<%= form_for(semester_break_plan) do |f| %>
  <% if semester_break_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester_break_plan.errors.count, "error") %> prohibited this semester_break_plan from being saved:</h2>

      <ul>
      <% semester_break_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :start %>
    <%= f.text_field :start, class: "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :end %>
    <%= f.text_field :end, class: "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :free %>
    <%= f.check_box :free %>
  </div>


  <div class="actions">
    <%= f.submit "Semester-Ferien-Support-Plan anlegen" %>
  </div>
<% end %>
