<h1><%=@plan.name%>: Belegung erstellen</h1>
<div class=row >
  <div class=col-lg-12>
    <%= form_for(@plan, :url => {:controller => 'semester_plan_manuals', :action => 'create'}, method: "post") do |f| %>
      <table class="table-hover table-bordered table">
        <tr>
          <th>
            Tag
          </th>
          <th>
            Zeit
          </th>
          <th>
            Supporter
          </th>
          <th>
             Co-Supporter
          </th>
          <% @users.each do |user| %>
            <th>
              <div title=<%= "#{user.get_name_or_alias}" %>>
                <%= user.get_initial %>
              </div>
            </th>
          <% end %>

        </tr>
        <tr >
          <th>
            Stunden
          </th>
          <th colspan="3">
          </th>
          <% @users.each do |user| %>
            <th>
              <div title=<%= "#{user.get_name_or_alias}" %>>
                <%= user.hours %>
                </div>
            </th>
          <% end %>
        </tr>

        <tr>
          <th rowspan=2>
            Schichten
          </th >
          <th  colspan="3">
            Supporter/Co-Supporter
          </th>
          <% @users.each do |user| %>
            <th>
              <div title=<%= "#{user.get_name_or_alias}" %>>
                <%= @plan.get_amount_of_shifts_in_solution user %>
              </div>
            </th>
          <% end %>
        </tr>
        <tr>
          <th colspan="3">
            Schichten laut Vertrag
          </th>

          <% all_hours = @users_tec.inject(0){|sum, x| sum +x.hours.to_i} %>
          <% @users.each do |user| %>
            <th>
              <% if !user.office %>
                <div title=<%= "#{user.get_name_or_alias}" %>>
                  <%= '%.2f' %(20 *user.hours.to_f/all_hours) %>
                </div>
              <% end %>
            </th>

          <% end %>

        </tr>


        <% @show_solution.each_with_index do |slot, index| %>
          <tr >
            <% if index%4 == 0 %>
              <td rowspan="4">
                <%= TimeSlot.find(slot[:slot].to_i).day %>
              </td>
            <% end %>
            <td>
              <%= "#{TimeSlot.find(slot[:slot].to_i).start}:00 - #{TimeSlot.find(slot[:slot].to_i).end}:00" %>
            </td>
            <% if !current_user.is_admin? %>
              <% if slot[:user] != nil %>
                <td  class=<%=get_av slot, false  %>>
                  <%= User.find(slot[:user].to_i).get_name_or_alias %>
                </td>
              <% else %>
                <td></td>
              <% end %>
              <% if slot[:co] != nil %>
                <td  class=<%= get_av slot, true %>>
                  <%= User.find(slot[:co].to_i).get_name_or_alias %>
                </td>
              <% else %>
                <td>
                </td>
              <% end %>
            <% else %>
              <td>
                <%= f.select("1;#{slot[:index]}", options_for_select(get_collection slot, false, @plan),  {:selected => 0}, { class: (get_av(slot, false))})%>
              </td>
              <td>
                <%= f.select("2;#{slot[:index]}", options_for_select(get_collection slot, true, @plan),  {:selected => 0}, { class: (get_av(slot, true))})%>
              </td>
            <% end %>

            <% @users.each do |user| %>
              <td title=<%="#{user.get_name_or_alias}"%> class=<%=get_av_user_slot user, TimeSlot.find(slot[:slot].to_i)%> >

              </td>
            <% end %>

          </tr>
        <% end %>
      </table>
      <% if current_user.is_admin? %>
        <div class="row well">
          <h2>
            Belegung- und Planeinstellungen
          </h2>
          <div class=col-lg-6>
            <%= f.submit :Übernehmen, class:"btn btn-lg btn-success"%>
          </div>
      <% end %>
      <% end %>
      <% if current_user.is_admin? %>

          <div class=col-lg-6>
            <%= link_to "Verfügbarkeiten ändern", semester_plan_path(@plan), {class: "btn btn-lg btn-primary"} %>
          </div>
        </div>
        <div class="row well">
          <h2>
            Weitere Einstellungen
          </h2>
          <% if @plan.fixed_solution %>
            <div class=col-lg-6>
              <%= form_for("meeting", :url => {:controller => 'semester_plan_meetings', :action => 'create'}, method: "post") do |f| %>
                <%= f.select "meeting_day", options_for_select(meeting_collection @scores, @plan) %>

                <%= f.submit "Meeting einstellen", class:"btn btn-lg btn-success"%>

              <% end %>
            </div>
          <% end %>
          <div class=col-lg-6>
            <p>
              <% if @fixed_solution %>
                <% if @plan.compare_solutions(@fixed_solution, @solution) == @fixed_solution %>
                  Neue Lösung ist nicht besser als gespeicherte Lösung.
                  <br> gespeichert:<%=@plan.get_fitness_of_solution @fixed_solution %>
                  <br> neue:<%=@plan.get_fitness_of_solution @solution %>)
                <% else %>
                  Neue Lösung ist besser als gespeicherte.
                  <br> gespeichert:<%=@plan.get_fitness_of_solution @fixed_solution %>
                  <br> neue:<%=@plan.get_fitness_of_solution @solution %>)
                <% end %>
              <% else %>
                Bisher wurde keine Lösung gespeichert.
                <br> neue:<%=@plan.get_fitness_of_solution @solution %>)
              <% end %>
            </p>
            <%= form_for("save", :url => {:controller => 'semester_plan_manuals', :action => 'update'}, method: "patch") do |f| %>

                <%= f.submit "Plan dauerhaft speichern", class:"btn btn-lg btn-success"%>
                <h4>
                  Anzeigen:
                </h4>
            <% if @plan.fixed_solution %>
              <div class="col-lg-6">
                <%= link_to "Gespeicherten Plan ", valid_path(@plan), {class: "btn btn-lg btn-primary"} %>
              </div>
              <%end %>
              <div class="col-lg-6">
                <%= link_to "Zuletzt berechnet", valid_path(@plan, show_new: true), {class: "btn btn-lg btn-primary"} %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>



