<h1><%=@plan.name%> zulässiger Plan</h1>
<%= @solution %>
<table class="table-hover table-bordered table">
  <tr>
    <th>
      Tag
    </th>
    <th>
      Schicht
    </th>
    <th>
      Supporter
    </th>
    <th>
       Co-Supporter
    </th>

  </tr>
  <% @solution.each do |s| %>
  <tr>
    <td>
      <%= TimeSlot.get_day(s[:index].to_i) %>
    </td>
    <td>
      <%= TimeSlot.get_time(s[:index].to_i) %>
    </td>
    <% if s[:user] != nil %>
    <% p "#{s[:user]} #{s[:slot]}" %>
      <td  class=<%="av#{SemesterPlanConnection.find_it_id(s[:user].to_i, (s[:slot].to_i())).availability}" %>>
        <%= User.find(s[:user].to_i).get_name %>
      </td>
    <% else %>
      <td></td>
    <% end %>
    <% if s[:co] != nil %>
      <td  class=<%="av#{SemesterPlanConnection.find_it_id(s[:co].to_i, (s[:slot].to_i())).availability}" %>>
        <%= User.find(s[:co].to_i).get_name %>
      </td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</table>
