<h1><%=@plan.name%> zulässiger Plan</h1>
<%= @solution.first %>
<table class="table-hover table-bordered table">
  <tr>
    <th>
      Tag
    </th>
    <th>
      Schicht
    </th>
    <th>
      Supporter
    </th>
    <th>
      Stunden
    </th>
  </tr>
  <% @solution.each do |s| %>
  <tr>
    <td>
      <%= TimeSlot.get_day(s[:index].to_i) %>
    </td>
    <td>
      <%= TimeSlot.get_time(s[:index].to_i) %>
    </td>
    <td>
      <%= User.find(s[:user].to_i).get_name %>
    </td>
    <td>
      <%= User.find(s[:user].to_i).get_shifts_round %>
    </td>
  </tr>
  <% end %>
</table>
