<h1><%=@plan.name%> zulässiger Plan</h1>
<%= form_for(@plan, :url => {:controller => 'semester_plan_manuals', :action => 'create'}) do |f| %>

  <table class="table-hover table-bordered table">
    <tr>
      <th>
        Tag
      </th>
      <th>
        Schicht
      </th>
      <th>
        Supporter
      </th>
      <th>
         Co-Supporter
      </th>

    </tr>
    <% @solution.each do |s| %>
      <% if !current_user.is_admin? %>
        <tr>
          <td>
            <%= TimeSlot.get_day(s[:index].to_i) %>
          </td>
          <td>
            <%= TimeSlot.get_time(s[:index].to_i) %>
          </td>
          <% if s[:user] != nil %>
          <% p "#{s[:user]} #{s[:slot]}" %>
            <td  class=<%="av#{SemesterPlanConnection.find_it_id(s[:user].to_i, (s[:slot].to_i())).availability}" %>>
              <%= User.find(s[:user].to_i).get_name %>
            </td>
          <% else %>
            <td></td>
          <% end %>
          <% if s[:co] != nil %>
            <td  class=<%="av#{SemesterPlanConnection.find_it_id(s[:co].to_i, (s[:slot].to_i())).availability}" %>>
              <%= User.find(s[:co].to_i).get_name %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% else %>
        <tr>
          <td>
            <%= TimeSlot.get_day(s[:index].to_i) %>
          </td>
          <td>
            <%= TimeSlot.get_time(s[:index].to_i) %>
          </td>
          <td>
            <%  @collection = []
                @users.each do |user|
                  @collection << [user.get_name, [user.id], {:class=>"av#{SemesterPlanConnection.find_it_id(user.id, (s[:slot].to_i())).availability}" }]
            end %>
            <%= f.select(:mydropdown, options_for_select(@collection), { :selected => s[:user].to_i })%>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <% if current_user.is_admin? %>
    <%= f.submit :Übernehmen, class:"btn btn-lg btn-primary"%>
  <% end %>
<% end %>
