<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-left">



                    <li class="px-2 btn btn-danger menu" >

                        <div class="dropdown">
                            <a id="dLabel" data-toggle="dropdown"  data-target="#" href="#">
                                Funktionen <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                                <li >
                                <% if is_admin? %>
                                    <%= link_to "Benutzereinstellungen", users_path %>
                                <% else %>
                                    <%= link_to "Benutzer", users_path %>

                                <% end %>
                                </li>
                                <% if is_admin? %>
                                    <li class="dropdown-submenu">
                                        <%= link_to "Supportpläne", root_path %>
                                        <ul class="dropdown-menu">
                                            <li><%= link_to "Semesterplan erstellen", new_semester_plan_path %></li>
                                            <li><%= link_to "Ferienplan erstellen", new_semester_break_plan_path %></li>
                                        </ul>
                                    </li>
                                <% else %>
                                    <li >
                                       <%= link_to "Supportpläne", root_path %>
                                    </li>
                                <% end %>



                                <li class="divider"></li>
                                <li><%= link_to "Start", root_path %></li>
                                <li><%= link_to "Einstellungen", "#" %></li>
                                <li><%= link_to "Hilfe", "#" %></li>
                                <li class="divider"></li>
                                <li><%= link_to "Ausloggen", logout_path, method: "delete" %></li>
                            </ul>
                        </div>
                    </li>

            </ul>
        </nav>
    </div>
</header>
